h2 Les news
h3
  md-button.md-primary(ng-if="!isAddNewsFormOpen")
    i.fa.fa-plus.fa-5x(ng-click="toggleAddNewsForm()")
  md-button.md-warn(ng-if="isAddNewsFormOpen")
    i.fa.fa-times.fa-5x(ng-click="toggleAddNewsForm()")
form(ng-if="isAddNewsFormOpen")
  md-input-container
    label Contenu
    input(type="text", ng-model="newNews.body")
  md-input-container
    md-button.md-primary.md-raised(ng-click="addNews()") Ajouter la news
md-list
  md-list-item(ng-repeat="news in allNews")
    md-list-item-text
      p {{ news.body }}
      p par {{ news.improvedUser.firstName }} {{ news.improvedUser.lastName }} le {{ news.sentAt | date:'medium' }}
      md-divider(ng-if="!$last")
